<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Pulse</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Page Pulse</h1>

    <form id="analyzeForm">
        <input
            type="text"
            id="url"
            placeholder="https://example.com"
            required
        >

        <button type="submit">
            Analyze
        </button>
    </form>

    <div id="result"></div>

    <footer>
        Built for
        <a href="https://digitalheroesco.com" target="_blank">
            Digital Heroes Training Task
        </a>
    </footer>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>